@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Noto+Sans:wght@300&family=Space+Mono&display=swap');
.App {
  min-height: 100vh;
  display: flex;
  background-image: url(./assets/pixel-mountain.png);
  background-size: cover;
}

