@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Noto+Sans:wght@300&family=Space+Mono&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background-image: url(./assets/pixel-mountain.png);
  /* attributions: Image by <a href="https://pixabay.com/users/lesiakower-25701529/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7728691">Lesiakower</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7728691">Pixabay</a> */
  background-size: cover;
}
